.fullElement {
  /* text-align: center; */
  font-family: "Courier";
  /* padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 5px; */
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  /* border-radius: 10px;
  border-color: rgb(138, 136, 136); */
}
input {
  border-radius: 5px;
  margin-top: 2px;
  font-family: Courier;
  border: 5px;
  border-color: rgb(138, 136, 136);
}
textarea {
  margin-top: 2px;
  border-radius: 5px;
  border: 5px;
  font-family: Courier;
  border-color: rgb(138, 136, 136);
}

p {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.successfulMessage {
  color: rgb(0, 172, 0);
}
.unsuccessfulMessage {
  color: red;
}

@media (max-width: 1145px) {
  .fullElement {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
  }
}
