/* #edImage {
  width: 5rem !important;
} */

#division {
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* border-top: 2px solid rgba(0, 0, 0, 0.1); */
}

@media (max-width: 767px) {
  #edImage {
    /* display: block !important; */
    display: flex !important;
    justify-content: center;
  }
  /* #edDetails {
    width: 85% !important;
  } */
}
