.fullElement {
  background-color: white;
  opacity: 1;
  display: inline-block;
  width: 75%;
  min-width: 100px;
  height: 95%;
  vertical-align: top;
  margin: 10px;
  font-family: Courier;
  /* color: white; */
  border-radius: 10px;
  text-align: justify;
  overflow: auto;
  font-size: large;
  /* box-shadow: 5px 5px #000000; */
}
.pageTitle {
  font-family: Courier;
  color: rgb(0, 0, 0);
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
.itemDiv {
  color: black;
  padding-left: 50px;
  padding-right: 20px;
  padding-bottom: 5px;
  /* max-height: 100px; */
  /* border-bottom-width: 5px;
  border-bottom-style: groove;
  border-bottom-color: white; */
}
.itemDivLi {
  font-family: Courier;
  color: black;
  list-style-type: none;
  text-align: center;
}
.itemDivLiSecond {
  font-family: Courier;
  color: black;
  list-style-type: none;
  text-align: justify;
}
.itemDivLiUl {
  /* border-bottom-width: 5px;
  border-bottom-style: groove;
  border-bottom-color: white; */
  padding-left: 0;
  /* text-align: justify; */
}
.itemDivLiUlLi {
  font-family: Courier;
  color: black;
  list-style-type:square;
  text-align: justify;
}
.image {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  /* padding: 30px; */
  display: inline-block;
}
.itemHeaderWithImage {
  display: inline-block;
  /* padding-left: 10px; */
  /* padding-top: 0; */
  font-size: 20;
  vertical-align: middle;
  /* margin-left: 10px; */
  /* margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0; */
}
.itemHeader {
  text-align: center;
  padding-left: 0;
  vertical-align: top;
}
.headerBox {
  /* margin-bottom: 1%; */
  height: auto;
  display: block;
  /* border-bottom-width: 5px;
  border-bottom-style: groove;
  border-bottom-color: white; */
}

@media (max-width: 1145px) {
  .fullElement {
    margin-top: 80px;
    margin-left: 2px;
    /* margin-right: 1%; */
    margin-bottom: 5%;
    width: 95%;
    overflow: auto;
    font-size: small;
  }
  .itemDiv {
    padding-left: 20px;
    padding-right: 10px;
  }

  .itemDivLiUlLi {
    text-align: left;
  }

  .image {
    display: inline-block;
    width: 50px;
    height: 50px;
    /* float: left; */
    /* height: inherit; */
    /*width: 50px; */
    /* padding: 5px; */
  }

  .headerBox {
    height: auto;
    display: block;
  }

  .headerBox .itemHeaderWithImage {
    /* float: left; */
    display: inline-block;
    width: 70%;
    vertical-align: middle;
    /* margin-left: 5px; */
    /* padding-left: 0; */
    /* margin-left: 100px; */
  }

  .headerBox .itemDivLiSecond {
    text-align: left;
    height: inherit;
    /* width: 140%; */
  }
}
