.option :hover {
  color: rgb(50, 50, 50);
  cursor: pointer;
  /* border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(186, 186, 186); */
}

.option h4 {
  font-family: Courier;
  color: white;
  /* font-style: italic; */
}

@media (max-width: 1145px) {
  .option {
    display: none;
    width: 10%;
  }
}
