.option {
  display: none;
}

@media (max-width: 1145px) {
  .option {
    display: inline;
    width: 100%;
  }
  .option :hover {
    color: white;
    cursor: pointer;
  }

  .option h4 {
    font-family: Courier;
    color: rgb(186, 186, 186);
    border-bottom-width: 5px;
    border-bottom-style: groove;
    border-bottom-color: rgb(186, 186, 186);
    margin-left: 2%;
    margin-right: 2%;
  }
}
